Makefile
Makefile.in
configure
config.log
config.status
config.h
config.h.in
autom4te.cache
aclocal.m4
install-sh
missing
depcomp
.deps
ACVars.pm
*.spec
INSTALL
scripts/bin/wwmpirun
scripts/bin/wwnodes
scripts/bin/wwstats
scripts/bin/wwsummary
scripts/bin/wwtop
scripts/init/warewulf
scripts/init/wulfd
scripts/init/wwproxy
scripts/sbin/warewulfd
