#DESC: A base Debian chroot to match this build host

# The general Deb include has all of the necessary functions, but requires
# some basic variables specific to each chroot type to be defined.
. include-deb

# 64 bit 6.0 squeeze
ARCH="amd64"
DISTRO="debian"
CODENAME="squeeze"

# Replace the default packages with this package list
PKGLIST="openssh-server,openssh-client,isc-dhcp-client,pciutils,strace,nfs-common,\
ethtool,iproute,iputils-ping,iputils-arping,net-tools,firmware-bnx2,linux-image-2.6.32-5-amd64"

# vim:filetype=sh:syntax=sh:expandtab:ts=4:sw=4:
